.header {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 144px;
  background-color: rgba(16, 20, 23, 0.8);
  backdrop-filter: blur(4px);
}

.left {
  display: flex;
  align-items: center;
  gap: 64px;
}

.logo {
  display: flex;
  align-items: flex-start;
  width: 52px;
  height: 48px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1200px) {
  .header {
    padding: 12px 40px;
  }

  .left {
    gap: 32px;
  }
}

@media (max-width: 900px) {
  .header {
    flex-wrap: wrap;
    row-gap: 12px;
    padding: 12px 24px;
  }

  .nav {
    gap: 8px;
  }
}
